p {
  padding: 0;
  margin: 0;
}
.rowContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px 0;
  cursor: pointer;
}
.rowContainer:hover {
  background-color: rgba(141, 246, 222, 0.6);
}
.name {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}
.subList {
  width: calc(100% - 10px);
  margin-left: 10px;
}